<h1>Test <%= @test_passage.test.title %> completed</h1>

<h2 style="color: <%= @result >= TestPassage::MIN_PERCENT ? 'green' : 'red' %>">You have <%= @result >= TestPassage::MIN_PERCENT ? 'good' : 'bad' %> result <%= @result %>%</h2>

<%= link_to 'Back', tests_path %>