<div class="col-12">
  <div class="form-group">
    <%= form_with model: [:admin, @test, @question], local: true do |form| %>
      <%= render 'shared/errors', resource: @question %>

      <p>
        <%= form.label :body %><br>
        <%= form.text_field :body, id: :question_body, class: 'form-control' %>
      </p><br>

      <p><%= form.submit class: 'btn btn-primary' %></p>
    <% end %>
  </div>
</div>
