<p>
  <%=	@question.body %>
</p>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to 'Back', admin_tests_path(@question.test) %>
<%= link_to "Create question", new_admin_test_question_url(@question.test) %>
<%= link_to "Edit question", edit_question_path(@question) %>