<h1><%= t('.header') %></h1>

<%= render 'shared/errors', resource: @test %>

<p>
  <%= link_to t('.new_test'), new_admin_test_path %>
</p>

<table class="table">
  <thead>
  <tr>
    <th class="sort-by-title pointer">
      Title
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th scope="col">Level</th>
    <th scope="col">Questions</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @tests.each do |test| %>
    <tr>
      <td class="align-middle">
        <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
        <%= render 'form_inline', test: test == @test ? @test : test %>
      </td>
      <td class="align-middle"><%= test.level %></td>
      <td class="align-middle"><%= t('.question_counter', count: test.questions.size) %></td>
      <td class="align-middle">
        <%= link_to t('admin.tests.show.header'), admin_test_path(test.id) %>
        <%= link_to t('admin.tests.edit.header'), edit_admin_test_path(test.id), class: 'form-inline-link', data: { test_id: test.id } %>
        <%= link_to t('admin.tests.destroy.header'), admin_test_path(test),
                    method: :delete,
                    data: { confirm: 'Confirm?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
