<h1><%= t('.header') %></h1>

<table class="table">
  <thead>
  <tr>
    <th class="sort-by-title pointer">
      Title
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th scope="col">Level</th>
    <th scope="col">Questions</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @tests.each do |test| %>
    <tr>
      <th><%= test.title %></th>
      <td><%= test.level %></td>
      <td><%= t('admin.tests.index.question_counter', count: test.questions.size) %></td>
      <td>
        <%= button_to t('.start'), start_test_path(test.id), class: 'btn btn-primary' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>