<h1>Tests list</h1>
<% @tests.each do |test| %>
  <div style="padding: 10px; border: 1px solid seagreen">
    <h2><%= test.title %></h2>
    <p><%= pluralize(test.questions.size, 'question') %></p>
    <%= link_to "Create test", new_test_path %>
    <%= link_to "Show test", test_path(test.id) %>
    <%= link_to "Edit test", edit_test_url(test.id) %>
    <%= link_to "Delete test", test_path(test),
                method: :delete,
                data: { confirm: 'Confirm?' } %>
  </div>
<% end %>