<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
    <% if logged_in? %>
        Welcome, <%= current_user.name %> <%= link_to 'Guru', root_path %>
        <%= link_to 'SingOut', singout_path %>
    <% else %>
        <%= link_to 'SingIn', sessions_new_path %>
        <%= link_to 'Registration', users_new_path %>
    <% end %>
    </div>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
